.editor-instance[aria-label*=".alif"] .view-lines *,
.editor-instance[aria-label*=".الف"] .view-lines * {
    direction: rtl;
}
.editor-instance[aria-label*=".alif"] .monaco-editor,
.editor-instance[aria-label*=".الف"] .monaco-editor,
.editor-instance[aria-label*=".alif"] .monaco-editor .view-line,
.editor-instance[aria-label*=".الف"] .monaco-editor .view-line {
    width: 100% !important;
    max-width: 98% !important;
}

/* شفافية */
textarea,
input,
.find-widget,
.widget-toolbar,
.notification-list-item,
.findMatchInline {
    backdrop-filter: blur(5px);
    border-radius: 10%;
    background: transparent;
}
.findMatchInline {
    border-radius: 10%;
}
